body {
    font-family: 'Montserrat', sans-serif;
    margin: 50px 80px;
}

input {
    padding-right: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
    border: solid 2px #889DAE;
    border-radius: 8px;
    margin: 10px;
}
